<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>

<div style="margin-top: 150px; margin-left: 450px; border-style: groove; border-color: green;"
     class="mainbox col-md-3 col-md-offset4 col-sm-6 col-sm-offset2">
    <div class="pane panel-info">

        <div class="panel-heading">
            <div class="panel title">Login form</div>
        </div>
        <div style="panding-top:30px;" class="panel-body">

            <form th:action="@{/authentificateTheUser}" method="POST" class="form-horizontal">

                <div class="form-group">

                    <div class="col-xs-15">

                        <div th:if="${param.error}">

                            <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                Invalid user name and password!
                            </div>
                        </div>
                    </div>

                    <div th:if="${param.logout}">
                        <div class="alert alert-success col-xs-offset-1 col-xs-10">
                            You have been logout!
                        </div>
                    </div>
                </div>

                <div style="margin-bottom:25px;" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" placeholder="Enter Username" name="username" required class="form-control">
                </div>

                <div style="margin-bottom:25px;" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" placeholder="Enter Password" name="password" required class="form-control">
                </div>

                <div style="margin-bottom:10px;" class="form-group">
                    <div class="col-sm-6 controls">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>

        </div>

    </div>


</div>


</body>
</html>